// Colors
$black: #000;
$white: #fff;


// Fonts
$proxima-t: 'Proxima Nova Thin';



// Body
$radius: 5px;
$transition: all 0.25s ease-in;
$shadow: 0px 0px 3px 0px rgba($black, 0.5);



// ------
// Colors
$white: #fff;
$black: #000;
$blue-darker: #5179bc;
$blue-dark: #527ABC;
$grey-lighter: #e9e9e9;
$grey: #717171;
$grey-darkest: #2d2d2d;
$grey-blue: #506378;
$red: #fb4848;



// Fonts
// $primary-font: 'Raleway', sans-serif;
// $secondary-font: 'Montserrat', sans-serif;

// Other
$transition: all .25s ease-in;